@using RazorPages.Models
@model Employee

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Gender</td>
    <td>@(Model.Fired?"是":"")</td>
    <td>
        @if (!Model.Fired)
        {
            @*<a asp-action="Fire" asp-route-employeeId="@Model.Id">
                开除
            </a>*@
        <a asp-page="EmployeeList"
           asp-page-handler="Fire"
           asp-route-employeeId="@Model.Id"
           asp-route-departmentID="@Model.DepartmentId"
           >
            开除
        </a>

        }
    </td>

</tr>
